body{

}
/*Section de colores*/

.colores{

}
/*container de los colores primarios*/
.colores-primarios{

}

.color-primario-uno{

}

.color-primario-dos{

}

/*container de los colores secundarios*/
.colores-secundarios{

}

/*Colores*/
.color-secundario-uno{

}
.color-secundario-dos{

}
.color-secundario-tres{

}
.color-secundario-cuatro{

}

/*Section botones*/

.buttons{

}

/*Container botones rellenos*/
.btns-filled{

}

/*botones*/
.btn-primario-filled{

}
.btn-secundario-filled{

}
.btn-hover-filled{
    
}

/*Container botones outlined*/

.btns-outlined{

}

/*Botones*/
.btn-primario-outlined{

}
.btn-secundario-outlined{

}
.btn-hover-outlined{

}