<!-- group: Footer -->
<footer class="footer">
  <!-- text: Contacte
50x20a@gmail.com -->
  <div class="footer-text">
          <p class="footer-p"><span>Contacte</span></p>
          <p class="footer-p"><span>50x20a@gmail.com</span></p>
  </div>
  <!-- text: Col·labora amb nosaltres
50x20a@gmail.com -->
  <div class="footer-text">
          <p class="footer-p"><span>Col·labora amb nosaltres</span></p>
          <p class="footer-p" ><span>50x20a@gmail.com</span></p>
  </div>
  <!-- text: Ubicación
50x20a@gmail.com -->
  <div class="footer-text">
          <p class="footer-p" ><span>Ubicación</span></p>
          <p class="footer-p" ><span>50x20a@gmail.com</span></p>
  </div>
</footer>

<!--

-->