<!-- frame: Home -->
<div class="frame home-2b3b517ed2a0">
  <!-- rect: F_xmeL5WEAEcUhA -->
  <div class="shape rect fxme-l5-w-e-a-3c07d5ed6111">
  </div>
  <!-- group: nav -->
  <div class="group nav-2b3b517ed2a1">
    <!-- frame: nav -->
    <div class="shape frame nav-2b3b517ed2a6">
    </div>
    <!-- text: Ajudes -->
    <div class="shape text ajudes-2b3b517ed2a8">
      <div class="text-node-html" id="html-text-node-804676e5-3f44-80a5-8007-2b3b517ed2a8" data-x="379.00000000000006" data-y="-502">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Ajudes</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Inici -->
    <div class="shape text inici-2b3b517ed2a9">
      <div class="text-node-html" id="html-text-node-804676e5-3f44-80a5-8007-2b3b517ed2a9" data-x="279" data-y="-502.0000000000001">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Inici</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Blog -->
    <div class="shape text blog-2b3b517ed2aa">
      <div class="text-node-html" id="html-text-node-804676e5-3f44-80a5-8007-2b3b517ed2aa" data-x="484" data-y="-502.0000000000001">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Blog</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- rect: logo50x20-Photoroom -->
    <div class="shape rect logo50x20-3be2129753e3">
    </div>
  </div>
  <!-- group: Footer -->
  <div class="group footer-2b3b517ed2a2">
    <!-- frame: nav -->
    <div class="shape frame nav-2b3b517ed2ab">
    </div>
    <!-- text: Contacte
50x20a@gmail.com -->
    <div class="shape text contacte-5-2c889098d97f">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c889098d97f" data-x="-328.21474773609316" data-y="1877.6111111111109">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Contacte</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">50x20a@gmail.com</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Col·labora amb nosaltres
50x20a@gmail.com -->
    <div class="shape text collabora-2c8942d5d6ec">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c8942d5d6ec" data-x="11.000000000000014" data-y="1880">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Col·labora amb nosaltres</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">50x20a@gmail.com</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Ubicación
50x20a@gmail.com -->
    <div class="shape text ubicacin-2c88e67fed5f">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c88e67fed5f" data-x="380.00000000000006" data-y="1877">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Ubicación</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">50x20a@gmail.com</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- group: quienes somos -->
  <div class="group quienes-so-2c6bf41981dc">
    <!-- rect: colaboradores -->
    <div class="shape rect colaborado-2c6bf41981dd">
    </div>
    <!-- text: Som un grup de persones sensibilitzades amb les necessitats i desigualtats que pateixen infants i joves dels barris de Ciutat Meridiana, Torre Baró i Vallbona de Barcelona. Volem aportar un gra de sorra per pal·liar aquestes situacions que afecten al seu accés equitatiu a l'educa -->
    <div class="shape text som-un-gru-2c6d163c4a43">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c6d163c4a43" data-x="-72.99999999999999" data-y="480">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Som un grup de persones sensibilitzades amb les necessitats i desigualtats que pateixen infants i joves dels barris de Ciutat Meridiana, Torre Baró i Vallbona de Barcelona. Volem aportar un gra de sorra per pal·liar aquestes situacions que afecten al seu accés equitatiu a l&#x27;educació i la formació.</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Qui som? -->
    <div class="shape text qui-som-2c6bf41981e8">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c6bf41981e8" data-x="107" data-y="444">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Qui som?</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- group: objectiu -->
  <div class="group objectiu-2c6d65eabd52">
    <!-- rect: colaboradores -->
    <div class="shape rect colaborado-2c6d65eabd53">
    </div>
    <!-- text: Els socis aporten les seves quotes a un fons solidari que respon a les sol·licituds dels professionals dels centres educatius i entitats del barri que fan una tasca educativa i social amb els infants, joves i famílies, com a beneficiaris directes.

S’adrecen a necessitats no cobe -->
    <div class="shape text els-socis-2c6d65eabd54">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c6d65eabd54" data-x="-80" data-y="726">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Els socis aporten les seves quotes a un fons solidari que respon a les sol·licituds dels professionals dels centres educatius i entitats del barri que fan una tasca educativa i social amb els infants, joves i famílies, com a beneficiaris directes.</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">S’adrecen a necessitats no cobertes per les administracions públiques. L’associació demana una contrapartida comunitària educativa, que l’educador del centre acorda amb la família o jove beneficiat.</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: El nostre objectiu -->
    <div class="shape text el-nostre-2c6d65eabd55">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c6d65eabd55" data-x="57" data-y="690.1837837837837">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">El nostre objectiu</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- group: colaboradores -->
  <div class="group colaborado-2c80c90a9d86">
    <!-- path: colaboradores -->
    <div class="shape path colaborado-2c80c90a9d87">
      <svg width="719" xmlns="http://www.w3.org/2000/svg" height="382" id="screenshot-2bce590d-27e2-80ac-8007-2c80c90a9d87" viewBox="-238 1405 719 382" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-2bce590d-27e2-80ac-8007-2c80c90a9d87">
          <defs></defs>
          <g class="fills" id="fills-2bce590d-27e2-80ac-8007-2c80c90a9d87">
            <path d="M-238,1410.7530517578125C-238,1407.577880859375,-235.75958251953125,1405,-233,1405L476,1405C478.75958251953125,1405,481,1407.577880859375,481,1410.7530517578125L481,1781.2469482421875C481,1784.422119140625,478.75958251953125,1787,476,1787L166.31723022460938,1787L-233,1787C-235.75958251953125,1787,-238,1784.422119140625,-238,1781.2469482421875L-238,1410.7530517578125" style="fill:#f5c77f;fill-opacity:1"></path>
          </g>
          <g id="strokes-d073dd8d-6134-8016-8007-3d365fdbcb65-2bce590d-27e2-80ac-8007-2c80c90a9d87" class="strokes">
            <g class="inner-stroke-shape">
              <defs>
                <clipPath id="inner-stroke-render-1237-2bce590d-27e2-80ac-8007-2c80c90a9d87-0">
                  <use href="#stroke-shape-render-1237-2bce590d-27e2-80ac-8007-2c80c90a9d87-0"></use>
                </clipPath>
                <path d="M-238,1410.7530517578125C-238,1407.577880859375,-235.75958251953125,1405,-233,1405L476,1405C478.75958251953125,1405,481,1407.577880859375,481,1410.7530517578125L481,1781.2469482421875C481,1784.422119140625,478.75958251953125,1787,476,1787L166.31723022460938,1787L-233,1787C-235.75958251953125,1787,-238,1784.422119140625,-238,1781.2469482421875L-238,1410.7530517578125" style="fill:none;fill-opacity:none;stroke-width:2;stroke:#e0e0e0;stroke-opacity:1" id="stroke-shape-render-1237-2bce590d-27e2-80ac-8007-2c80c90a9d87-0"></path>
              </defs>
              <use href="#stroke-shape-render-1237-2bce590d-27e2-80ac-8007-2c80c90a9d87-0" clip-path="url(&#x27;#inner-stroke-render-1237-2bce590d-27e2-80ac-8007-2c80c90a9d87-0&#x27;)"></use>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <!-- group: colaboradoeres -->
    <div class="group colaborado-2c85d55d5bd6">
      <!-- frame: Card / Filled Card -->
      <div class="frame card-fil-2c835e567229">
        <!-- rect: Background -->
        <div class="shape rect background-2c835e56722a">
        </div>
        <!-- frame: Container -->
        <div class="shape frame container-2c835e56722b">
        </div>
      </div>
      <!-- text: colaboradores -->
      <div class="shape text colaborado-2c80c90a9d88">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c80c90a9d88" data-x="224.00000000000006" data-y="1481">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">IE Mestre Morera</span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">IE Elisenda de Montcada </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-3" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-3-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-4" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-4-text-0">IE Ciutat Comtal </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-5" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-5-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-6" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-6-text-0">Institut Pablo Picasso </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-7" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-7-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-8" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-8-text-0">Centre Cruïlla </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-9" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-9-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-10" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-10-text-0">Parròquia de Sant Bernat</span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-11" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-11-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-12" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-12-text-0">Centre Ubuntu </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-13" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-13-text-0"> </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-14" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-14-text-0">Missioneres de la Immaculada </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-15" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-15-text-0">EBM Aqüeducte</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Les aportacions dels socis es destinen a col·laborar amb escoles i entitats en l'atenció a infants, joves i famílies per cobrir necessitats no cobertes per l'administració.

Els mestres i educadors fan el seguiment de les contrapartides socio-educatives per a les famílies, els in -->
    <div class="shape text les-aporta-2c8210ef02b5">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c8210ef02b5" data-x="-152" data-y="1470">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Les aportacions dels socis es destinen a col·laborar amb escoles i entitats en l&#x27;atenció a infants, joves i famílies per cobrir necessitats no cobertes per l&#x27;administració.</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">Els mestres i educadors fan el seguiment de les contrapartides socio-educatives per a les famílies, els infants i els joves.</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Com col·laborar

Si estàs interessat/da en col·laborar i vols més informació, pots escriure a:

50x20a@gmail.com -->
    <div class="shape text com-colla-2c868a27115c">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c868a27115c" data-x="-154" data-y="1646">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Com col·laborar</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0"> </span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">Si estàs interessat/da en col·laborar i vols més informació, pots escriure a:</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-3" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-3-text-0"> </span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-4" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-4-text-0">50x20a@gmail.com</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Entitats col·laboradores -->
    <div class="shape text entitats-c-2c80c90a9d89">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c80c90a9d89" data-x="5" data-y="1429.16265060241">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Entitats col·laboradores</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- rect: iconCorazon -->
    <div class="shape rect icon-corazo-2b3b517ed2b3">
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db4fcf6c19b">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db4fcf6c19c">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db4fcf6c19c" viewBox="203 1482.5 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db4fcf6c19c">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db4fcf6c19c">
              <path d="M208.4305419921875,1484.5C206.5361328125,1484.5,205,1486.09521484375,205,1488.0625C205,1492,211.5,1496.5,211.5,1496.5C211.5,1496.5,218,1492,218,1488.0625C218,1485.6251220703125,216.4638671875,1484.5,214.5694580078125,1484.5C213.22607421875,1484.5,212.0633544921875,1485.3018798828125,211.5,1486.4693603515625C210.9366455078125,1485.3018798828125,209.77392578125,1484.5,208.4305419921875,1484.5" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fddefc4-a3f3eeaf-7e47-8046-8007-2db4fcf6c19c" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1484.5C206.5361328125,1484.5,205,1486.09521484375,205,1488.0625C205,1492,211.5,1496.5,211.5,1496.5C211.5,1496.5,218,1492,218,1488.0625C218,1485.6251220703125,216.4638671875,1484.5,214.5694580078125,1484.5C213.22607421875,1484.5,212.0633544921875,1485.3018798828125,211.5,1486.4693603515625C210.9366455078125,1485.3018798828125,209.77392578125,1484.5,208.4305419921875,1484.5" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db532acd8b6">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db532acd8b7">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db532acd8b7" viewBox="203 1516 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db532acd8b7">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db532acd8b7">
              <path d="M208.4305419921875,1518C206.5361328125,1518,205,1519.59521484375,205,1521.5625C205,1525.5,211.5,1530,211.5,1530C211.5,1530,218,1525.5,218,1521.5625C218,1519.1251220703125,216.4638671875,1518,214.5694580078125,1518C213.22607421875,1518,212.0633544921875,1518.8018798828125,211.5,1519.9693603515625C210.9366455078125,1518.8018798828125,209.77392578125,1518,208.4305419921875,1518" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fde2378-a3f3eeaf-7e47-8046-8007-2db532acd8b7" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1518C206.5361328125,1518,205,1519.59521484375,205,1521.5625C205,1525.5,211.5,1530,211.5,1530C211.5,1530,218,1525.5,218,1521.5625C218,1519.1251220703125,216.4638671875,1518,214.5694580078125,1518C213.22607421875,1518,212.0633544921875,1518.8018798828125,211.5,1519.9693603515625C210.9366455078125,1518.8018798828125,209.77392578125,1518,208.4305419921875,1518" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db545e4e85e">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db545e4e85f">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db545e4e85f" viewBox="203 1548 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db545e4e85f">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db545e4e85f">
              <path d="M208.4305419921875,1550C206.5361328125,1550,205,1551.59521484375,205,1553.5625C205,1557.5,211.5,1562,211.5,1562C211.5,1562,218,1557.5,218,1553.5625C218,1551.125,216.4638671875,1550,214.5694580078125,1550C213.22607421875,1550,212.0633544921875,1550.8017578125,211.5,1551.96923828125C210.9366455078125,1550.8017578125,209.77392578125,1550,208.4305419921875,1550" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fde69bb-a3f3eeaf-7e47-8046-8007-2db545e4e85f" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1550C206.5361328125,1550,205,1551.59521484375,205,1553.5625C205,1557.5,211.5,1562,211.5,1562C211.5,1562,218,1557.5,218,1553.5625C218,1551.125,216.4638671875,1550,214.5694580078125,1550C213.22607421875,1550,212.0633544921875,1550.8017578125,211.5,1551.96923828125C210.9366455078125,1550.8017578125,209.77392578125,1550,208.4305419921875,1550" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db54d50cb29">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db54d50cb2a">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db54d50cb2a" viewBox="203 1580.5 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db54d50cb2a">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db54d50cb2a">
              <path d="M208.4305419921875,1582.5C206.5361328125,1582.5,205,1584.09521484375,205,1586.0625C205,1590,211.5,1594.5,211.5,1594.5C211.5,1594.5,218,1590,218,1586.0625C218,1583.625,216.4638671875,1582.5,214.5694580078125,1582.5C213.22607421875,1582.5,212.0633544921875,1583.3017578125,211.5,1584.46923828125C210.9366455078125,1583.3017578125,209.77392578125,1582.5,208.4305419921875,1582.5" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fde69bc-a3f3eeaf-7e47-8046-8007-2db54d50cb2a" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1582.5C206.5361328125,1582.5,205,1584.09521484375,205,1586.0625C205,1590,211.5,1594.5,211.5,1594.5C211.5,1594.5,218,1590,218,1586.0625C218,1583.625,216.4638671875,1582.5,214.5694580078125,1582.5C213.22607421875,1582.5,212.0633544921875,1583.3017578125,211.5,1584.46923828125C210.9366455078125,1583.3017578125,209.77392578125,1582.5,208.4305419921875,1582.5" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db557c06b77">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db557c06b78">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db557c06b78" viewBox="203 1614 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db557c06b78">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db557c06b78">
              <path d="M208.4305419921875,1616C206.5361328125,1616,205,1617.59521484375,205,1619.5625C205,1623.5,211.5,1628,211.5,1628C211.5,1628,218,1623.5,218,1619.5625C218,1617.125,216.4638671875,1616,214.5694580078125,1616C213.22607421875,1616,212.0633544921875,1616.8017578125,211.5,1617.96923828125C210.9366455078125,1616.8017578125,209.77392578125,1616,208.4305419921875,1616" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fde80f1-a3f3eeaf-7e47-8046-8007-2db557c06b78" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1616C206.5361328125,1616,205,1617.59521484375,205,1619.5625C205,1623.5,211.5,1628,211.5,1628C211.5,1628,218,1623.5,218,1619.5625C218,1617.125,216.4638671875,1616,214.5694580078125,1616C213.22607421875,1616,212.0633544921875,1616.8017578125,211.5,1617.96923828125C210.9366455078125,1616.8017578125,209.77392578125,1616,208.4305419921875,1616" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db561b957ed">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db561b957ee">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db561b957ee" viewBox="203 1646 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db561b957ee">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db561b957ee">
              <path d="M208.4305419921875,1648C206.5361328125,1648,205,1649.59521484375,205,1651.5625C205,1655.5,211.5,1660,211.5,1660C211.5,1660,218,1655.5,218,1651.5625C218,1649.125,216.4638671875,1648,214.5694580078125,1648C213.22607421875,1648,212.0633544921875,1648.8017578125,211.5,1649.96923828125C210.9366455078125,1648.8017578125,209.77392578125,1648,208.4305419921875,1648" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fded1c1-a3f3eeaf-7e47-8046-8007-2db561b957ee" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1648C206.5361328125,1648,205,1649.59521484375,205,1651.5625C205,1655.5,211.5,1660,211.5,1660C211.5,1660,218,1655.5,218,1651.5625C218,1649.125,216.4638671875,1648,214.5694580078125,1648C213.22607421875,1648,212.0633544921875,1648.8017578125,211.5,1649.96923828125C210.9366455078125,1648.8017578125,209.77392578125,1648,208.4305419921875,1648" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db5752d3e87">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db5752d3e88">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db5752d3e88" viewBox="203 1679 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db5752d3e88">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db5752d3e88">
              <path d="M208.4305419921875,1681C206.5361328125,1681,205,1682.59521484375,205,1684.5625C205,1688.5,211.5,1693,211.5,1693C211.5,1693,218,1688.5,218,1684.5625C218,1682.125,216.4638671875,1681,214.5694580078125,1681C213.22607421875,1681,212.0633544921875,1681.8017578125,211.5,1682.96923828125C210.9366455078125,1681.8017578125,209.77392578125,1681,208.4305419921875,1681" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fdf080d-a3f3eeaf-7e47-8046-8007-2db5752d3e88" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1681C206.5361328125,1681,205,1682.59521484375,205,1684.5625C205,1688.5,211.5,1693,211.5,1693C211.5,1693,218,1688.5,218,1684.5625C218,1682.125,216.4638671875,1681,214.5694580078125,1681C213.22607421875,1681,212.0633544921875,1681.8017578125,211.5,1682.96923828125C210.9366455078125,1681.8017578125,209.77392578125,1681,208.4305419921875,1681" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <!-- frame: icon / heart -->
    <div class="frame icon-hea-2db57fbe0c73">
      <!-- path: svg-path -->
      <div class="shape path svgpath-2db57fbe0c74">
        <svg width="17" xmlns="http://www.w3.org/2000/svg" height="16" id="screenshot-a3f3eeaf-7e47-8046-8007-2db57fbe0c74" viewBox="203 1713 17 16" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
          <g id="shape-a3f3eeaf-7e47-8046-8007-2db57fbe0c74">
            <defs></defs>
            <g class="fills" id="fills-a3f3eeaf-7e47-8046-8007-2db57fbe0c74">
              <path d="M208.4305419921875,1715C206.5361328125,1715,205,1716.59521484375,205,1718.5625C205,1722.5,211.5,1727,211.5,1727C211.5,1727,218,1722.5,218,1718.5625C218,1716.125,216.4638671875,1715,214.5694580078125,1715C213.22607421875,1715,212.0633544921875,1715.8017578125,211.5,1716.96923828125C210.9366455078125,1715.8017578125,209.77392578125,1715,208.4305419921875,1715" fill="none" stroke-linecap="round" stroke-linejoin="round" style="fill:none"></path>
            </g>
            <g fill="none" stroke-linecap="round" stroke-linejoin="round" id="strokes-d073dd8d-6134-8016-8007-3d365fdf080e-a3f3eeaf-7e47-8046-8007-2db57fbe0c74" class="strokes">
              <g class="stroke-shape">
                <defs></defs>
                <path d="M208.4305419921875,1715C206.5361328125,1715,205,1716.59521484375,205,1718.5625C205,1722.5,211.5,1727,211.5,1727C211.5,1727,218,1722.5,218,1718.5625C218,1716.125,216.4638671875,1715,214.5694580078125,1715C213.22607421875,1715,212.0633544921875,1715.8017578125,211.5,1716.96923828125C210.9366455078125,1715.8017578125,209.77392578125,1715,208.4305419921875,1715" style="fill:none;fill-opacity:none;stroke-width:1.5;stroke:#171e1d;stroke-opacity:1;stroke-linecap:round"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <!-- group: funcionament -->
  <div class="group funcioname-2c6e41f99490">
    <!-- path: colaboradores -->
    <div class="shape path colaborado-2c6e41f99491">
      <svg width="719" xmlns="http://www.w3.org/2000/svg" height="336" id="screenshot-2bce590d-27e2-80ac-8007-2c6e41f99491" viewBox="-238 996 719 336" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <g id="shape-2bce590d-27e2-80ac-8007-2c6e41f99491">
          <defs></defs>
          <g class="fills" id="fills-2bce590d-27e2-80ac-8007-2c6e41f99491">
            <path d="M-238,1003.368408203125C-238,999.3018188476562,-235.75958251953125,996.0000610351562,-233,996.0000610351562L476,996.0000610351562C478.75958251953125,996.0000610351562,481,999.3018188476562,481,1003.368408203125L481,1324.6314697265625C481,1328.6982421875,478.75958251953125,1332,476,1332L-233,1332C-235.75958251953125,1332,-238,1328.6982421875,-238,1324.6314697265625L-238,1003.368408203125" style="fill:#f5c77f;fill-opacity:1"></path>
          </g>
          <g id="strokes-d073dd8d-6134-8016-8007-3d365fdf6680-2bce590d-27e2-80ac-8007-2c6e41f99491" class="strokes">
            <g class="inner-stroke-shape">
              <defs>
                <clipPath id="inner-stroke-render-1246-2bce590d-27e2-80ac-8007-2c6e41f99491-0">
                  <use href="#stroke-shape-render-1246-2bce590d-27e2-80ac-8007-2c6e41f99491-0"></use>
                </clipPath>
                <path d="M-238,1003.368408203125C-238,999.3018188476562,-235.75958251953125,996.0000610351562,-233,996.0000610351562L476,996.0000610351562C478.75958251953125,996.0000610351562,481,999.3018188476562,481,1003.368408203125L481,1324.6314697265625C481,1328.6982421875,478.75958251953125,1332,476,1332L-233,1332C-235.75958251953125,1332,-238,1328.6982421875,-238,1324.6314697265625L-238,1003.368408203125" style="fill:none;fill-opacity:none;stroke-width:2;stroke:#e0e0e0;stroke-opacity:1" id="stroke-shape-render-1246-2bce590d-27e2-80ac-8007-2c6e41f99491-0"></path>
              </defs>
              <use href="#stroke-shape-render-1246-2bce590d-27e2-80ac-8007-2c6e41f99491-0" clip-path="url(&#x27;#inner-stroke-render-1246-2bce590d-27e2-80ac-8007-2c6e41f99491-0&#x27;)"></use>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <!-- text: Funcionament -->
    <div class="shape text funcioname-2c6e41f99493">
      <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c6e41f99493" data-x="59" data-y="1021.9999999999991">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Funcionament</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- group: paso1 -->
    <div class="group paso1-2c7dd6b9e727">
      <!-- circle: Ellipse -->
      <div class="shape circle ellipse-2c7a48e81250">
      </div>
      <!-- frame: Card / Filled Card -->
      <div class="frame card-fil-2c7d93d2e166">
        <!-- rect: Background -->
        <div class="shape rect background-2c7d93d2e167">
        </div>
        <!-- frame: Container -->
        <div class="shape frame container-2c7d93d2e168">
        </div>
      </div>
      <!-- text: Els educadors coneixen 
necesites no ccobertes.
Adrecen una solicituda 50x20 -->
      <div class="shape text els-educad-2c7caf4b6bb1">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7caf4b6bb1" data-x="-177" data-y="1202">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Els educadors coneixen </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">necesites no ccobertes.</span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">Adrecen una solicituda 50x20</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: Centres i 
entitats -->
      <div class="shape text centres-i-2c7bbe8400ac">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7bbe8400ac" data-x="-122" data-y="1136">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Centres i </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">entitats</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 1 -->
      <div class="shape text c-1-2c7adfdebeab">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7adfdebeab" data-x="-137" data-y="1062">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">1</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- group: paso2 -->
    <div class="group paso2-2c7f05de1989">
      <!-- circle: Ellipse -->
      <div class="shape circle ellipse-2c7f05de198a">
      </div>
      <!-- frame: Card / Filled Card -->
      <div class="frame card-fil-2c7f05de198b">
        <!-- rect: Background -->
        <div class="shape rect background-2c7f05de198f">
        </div>
        <!-- frame: Container -->
        <div class="shape frame container-2c7f05de1990">
        </div>
      </div>
      <!-- text: Valora la soli·licitud.
Aprova l'ajuda o demana 
mes informació -->
      <div class="shape text valora-la-2c7f05de198c">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7f05de198c" data-x="47" data-y="1202">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Valora la soli·licitud.</span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">Aprova l&#x27;ajuda o demana </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">mes informació</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 50x20 -->
      <div class="shape text c-50x20-2c7f05de198d">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7f05de198d" data-x="107" data-y="1138">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">50x20</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 2 -->
      <div class="shape text c-2-2c7f05de198e">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7f05de198e" data-x="84" data-y="1062">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">2</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- group: paso3 -->
    <div class="group paso3-2c7fa84e1782">
      <!-- circle: Ellipse -->
      <div class="shape circle ellipse-2c7fa84e1783">
      </div>
      <!-- frame: Card / Filled Card -->
      <div class="frame card-fil-2c7fa84e1784">
        <!-- rect: Background -->
        <div class="shape rect background-2c7fa84e1788">
        </div>
        <!-- frame: Container -->
        <div class="shape frame container-2c7fa84e1789">
        </div>
      </div>
      <!-- text: Necessitats i oportunitats 
cobertas. Treballen la c
ontrapartida educativa amb l'educador -->
      <div class="shape text necessitat-2c7fa84e1785">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7fa84e1785" data-x="270.9999999999999" data-y="1191.0000000000014">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Necessitats i oportunitats </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">cobertas. Treballen la c</span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-2" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-2-text-0">ontrapartida educativa amb l&#x27;educador</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: Infants, joves 
i familias -->
      <div class="shape text infants-j-2c7fa84e1786">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7fa84e1786" data-x="303.9999999999998" data-y="1138.000000000001">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">Infants, joves </span></p>
              <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0">i familias</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: 3 -->
      <div class="shape text c-3-2c7fa84e1787">
        <div class="text-node-html" id="html-text-node-2bce590d-27e2-80ac-8007-2c7fa84e1787" data-x="307.9999999999999" data-y="1060.0000000000005">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">3</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: Radio Button / Radio Button [selected] -->
  <div class="frame radio-butt-2db483ba9d47">
    <!-- rect: Background - Outer Circle -->
    <div class="shape rect background-2db483ba9d48">
    </div>
    <!-- frame: Container -->
    <div class="frame container-2db483ba9d49">
      <!-- circle: Inner Circle -->
      <div class="shape circle inner-circ-2db483ba9d4a">
      </div>
    </div>
  </div>
  <!-- rect: logo50x20-Photoroom -->
  <div class="shape rect logo50x20-3be245a52dae">
  </div>
</div>