<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos XML</title>
</head>
<body>
    <main>
        <p>Prueba</p>
        <% datos.forEach(entry =>{%>
        <div id="container">
            <h2><%= entry.title %></h2>

            <% entry.content.forEach(contenido =>{%>

            <p><%- contenido._ %></p>
            <%})%>
            
        </div>
        <% })%>
    </main>
</body>
</html>