<main>
    <section id="section-cards">
        <div class="div-card">
            <h3>Qui som?</h3>
            <p>Som un grup de persones sensibilitzades amb les necessitats i desigualtats que pateixen infants i joves
                dels barris de Ciutat Meridiana, Torre Baró i Vallbona de Barcelona. Volem aportar un gra de sorra per
                pal·liar aquestes situacions que afecten al seu accés equitatiu a l'educació i la formació.</p>
        </div>
        <div class="div-card">
            <h3>El nostre objectiu</h3>
            <p>Els socis aporten les seves quotes a un fons solidari que respon a les sol·licituds dels professionals
                dels centres educatius i entitats del barri que fan una tasca educativa i social amb els infants, joves
                i famílies, com a beneficiaris directes.

                S’adrecen a necessitats no cobertes per les administracions públiques. L’associació demana una
                contrapartida comunitària educativa, que l’educador del centre acorda amb la família o jove beneficiat.
            </p>
        </div>
        <div class="div-card">
            <h3>Funcionament</h3>
            <div>
                <h4></h4>
                <div class="div-circle">
                    <p>Centres ientitats</p>
                </div>
                <div class="">
                    <p>Els educadors coneixen
                        necesites no ccobertes.
                        Adrecen una solicituda 50x20</p>
                </div>
            </div>
        </div>
    </section>
</main>